<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="isModal">Move Note</ion-title>
        <ion-searchbar *ngIf="!isModal" placeholder="Find a notebook" (ionChange)="filterNotebooks($event)" [debounce]="0"></ion-searchbar>

        <ion-buttons slot="end" *ngIf="isModal">
            <ion-button (click)="close()" color="primary">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-list-header class="sticky">
            <ion-label>Notebooks</ion-label>
            <ion-button (click)="addNotebook()" fill="clear" color="primary">
                <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-list-header>
        <ion-item button *ngFor="let notebook of notebooks | async" (click)="openNotebook(notebook)">
            <ion-icon name="book" slot="start" *ngIf="!isModal || currentSelected?.id != notebook.id"></ion-icon>
            <ion-icon name="checkmark" color="primary" slot="start" *ngIf="currentSelected?.id == notebook.id"></ion-icon>
            <ion-label>
                {{ notebook.name }}
            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>