<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="done()" color="primary" [disabled]="note.title == ''">
                Done
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()" color="primary">
                Cancel
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-button size="small" fill="clear" color="primary" (click)="moveNote()" class="ion-text-left">
    <ion-icon name="bookmarks" slot="start"></ion-icon>
    {{ note.notebook ? note.notebook.name : 'Select Notebook' }}
  </ion-button> -->

    <ion-row class="ion-no-padding action-row">
        <ion-col size="9">
            <ion-button size="small" fill="clear" color="primary" (click)="moveNote()" class="ion-text-left">
                <ion-icon name="bookmarks" slot="start"></ion-icon>
                {{ note.notebook ? note.notebook.name : 'Select Notebook' }}
            </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-right" *ngIf="id">
            <ion-button size="small" fill="clear" color="primary" (click)="toggleFavourite()">
                <ion-icon name="star" slot="icon-only" *ngIf="note.favourite"></ion-icon>
                <ion-icon name="star-outline" slot="icon-only" *ngIf="!note.favourite"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>


    <div class="ion-padding">
        <ion-input [autofocus]="true" [(ngModel)]="note.title" placeholder="Title" class="note-title"></ion-input>

        <quill-editor [(ngModel)]="note.content"></quill-editor>
        <!-- <ion-textarea placeholder="Start writing" [(ngModel)]="note.content" rows="6"></ion-textarea> -->
    </div>
</ion-content>